[Unit]
Description=Daily Reload Naruse service (%i)
Documentation=https://github.com/AkinoKaede/naruse
After=naruse@%i.service

[Timer]
OnActiveSec=1d
OnUnitActiveSec=1d
RandomizedDelaySec=30min

[Install]
WantedBy=timer.target